body {
    margin-top: 10px;
    text-align: center;
}

#container {
    margin: 20px auto;
    width: 40%;
}

button {
    margin: 10px auto;
    font-size: 20px;
    padding: 10px;
    border-radius: 7px;
    background-color: grey;
    color: white;
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: black;
}